body {
  background: url(/background.jpg) center center/ cover no-repeat fixed;
  min-height: 100vh;
  text-align: center;
  color: white;
}

#board {
  width: 450px;
  height: 450px;
  background-color: lightblue;
  border: 5px solid slategray;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board .imge {
  width: 50px;
  height: 50px;
}
